<h1>SIGNUP</h1>
<form action="/api/sessions/signup" method="post">
    FirstName: <input type="text" name="first_name" id="first_name">
    LastName: <input type="text" name="last_name" id="last_name">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="SIGNUP">
</form>

<button onclick="location.href='/api/sessions/auth/github'">SIGNUP WITH GITHUB</button>
<button onclick="location.href='/api/sessions/auth/google'">SIGNUP WITH GOOGLE</button>